.agenda {
    &__container {
        margin: 5rem 0 7rem;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__info {
            @extend .color-grey;
            margin-top: 1rem;
            font-family: 'OpenSans', sans-serif;
            font-size: 1.1rem;
        }

        li {
            @include display-flex(flex-start, space-between);
            flex-wrap: wrap;
            width: 40%;
            padding: 2.5rem;
            transition: 0.3s;
            border-bottom: 1px solid $greyBorder;
            cursor: pointer;
            box-sizing: border-box;

            a {
                width: 100%
            }
        }

        h3 {
            width: 100%;
            color: $black;
            font-family: OpenSans;
            font-size: 18px;
            font-weight: bold;
        }

        .color-red {
            margin-top: 3rem;
            text-decoration: underline;
        }
    }
}


@media screen and (max-width: $mobile) {
    .agenda__container {
        margin: 0;
    }

    .agenda__content {
        flex-direction: column;
        width: 100%;
        margin: 0;

        li {
            width: 100%;
            margin: 1.7rem 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }

}
