.edicoes-featured {
    padding: 5.5rem 0 11rem;
    background: $greyLight;

    .container {
        display: flex;
    }

    &_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 24%;
        max-width: 24%;
        padding-right: 4.2%;
        border-right: 0.1rem solid $greyBorder;

        .cta {
            width: 100%;
            margin-top: 5rem;
        }

        h3 {
            font-size: 4rem;
            text-align: center;
        }

        .edicoes-mes {
            margin-top: 1.5rem;
        }

        .edicoes-capa {
            margin-top: 4rem;
        }
    }

    &_right {
        padding-left: 6rem;

        .subtitle {
            margin-bottom: 2rem;
        }
    }

    .author {
        position: relative;
        margin-top: 3.5rem;
        margin-left: 5.5rem;
        font-weight: bold;

        &::before {
            position: absolute;
            top: calc(50% - 0.3rem);
            left: -5.5rem;
            width: 4rem;
            height: 0.3rem;
            background: $red;
            content: '';
        }

        &-field {
            margin-top: 1rem;
            margin-left: 5.5rem;
        }
    }

    .subtitle {
        font-size: 1.3rem;
    }

    .edicoes-content {
        p {
            margin: 1rem 0;
        }
    }
}


.edicoes-list {
    margin-top: 6rem;

    &_top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
    }

    p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 6rem;

        .select-option {
            width: 27.5rem;
            height: 5rem;
            padding: 1rem;
            border: 1px solid $greyLight100;
            background: transparent;
            color: $greyDark;
            font-family: 'Montserrat';
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: uppercase;
            box-sizing: border-box;
        }
    }

    &_container {
        display: flex;
        flex-wrap: wrap;
    }

    &_item {
        display: flex;
        align-items: flex-start;
        width: calc((100% - 4rem) / 2);
        margin-bottom: 6rem;
        padding: 2.8rem 2.5rem 5.5rem;
        border: 0.1rem solid $greyBorder;
        box-sizing: border-box;

        &:nth-child(odd) {
            margin-right: 4rem;
        }

        &-content {
            flex-grow: 1;
            margin-left: 4.5rem;

            .subtitle {
                margin: 2.5rem 0;
            }

            .item-title {
                margin: 0;
            }
        }

        &-image {
            width: 42%;
        }
    }
}


// TERMS

.edicoes {
    .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7rem;
    }

    .top_content--news {
        height: 24rem;
    }

    .edicoes__container {
        width: 70%;
        margin-top: 5rem;
    }

    .cta {
        margin-top: 1rem;
    }

    .subtitle {
        margin-bottom: 1rem;
    }

    .box-image {
        position: relative;

        span {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 70%;
            height: 3.7rem;
            padding: 1.3rem;
            background: $black;
            color: $white;
            text-transform: uppercase;
            box-sizing: border-box;

            img {
                width: 1.2rem;
                height: 1.5rem;
                margin-top: -0.3rem;
                margin-right: 1rem;
            }
        }
    }

    .conteudo-exclusivo {
        display: flex;
        align-items: baseline;
        margin-top: 1rem;

        .invert {
            margin-left: 2rem;
            border: 1px solid $red;
            background: $white;
            color: $red;
        }
    }
}

@media screen and (max-width: $mobile) {
    .edicoes-featured {
        padding: 5.5rem 0 5rem;

        .container {
            flex-direction: column;
        }

        &_left,
        &_right {
            width: 100%;
            max-width: 100%;
            padding: 0;
            border: none;
        }

        &_right {
            margin-top: 6rem;
        }
    }

    .edicoes-list {
        &_top {
            flex-direction: column;
        }

        &_item {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 1.5rem 0;
            padding: 3.5rem 0;
            box-sizing: border-box;

            &:nth-child(odd) {
                margin: 0;
            }

            &-content {
                margin: 0;

                p {
                    justify-content: center;
                }
            }

            &-image {
                margin-bottom: 2.5rem;
            }

            .item-title {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .edicoes {
        .container {
            flex-direction: column-reverse;
            flex-wrap: wrap;
        }

        .edicoes__container {
            width: 100%;
        }

        .top_content {
            &--news {
                height: auto;
            }
        }

        .box-image {
            span {
                bottom: 0.3rem;
                width: 100%;
            }
        }

        .cta {
            &.invert {
                width: 8rem;
            }
        }
    }
}
