.entrevistas {
    &--content {
        @include display-flex($align: flex-start, $justify: space-around);
        flex-direction: column;
        flex-shrink: 0;
        width: calc(50% - 4rem);
        min-height: 21.1rem;
        margin-right: 2rem;
        margin-bottom: 2.5rem;
        padding: 3rem;
        border: 0.1rem solid $greyLight;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7rem;
    }

    .entrevistas__container {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin-top: 5rem;
    }

    .box-title {
        @include display-flex($justify: flex-start);
        width: 100%;

        .image-box {
            min-width: 8rem;
            max-width: 8rem;
            height: 8rem;
            margin-right: 2rem;
            border-radius: 100%;
            background: $red;
            overflow: hidden;
        }

        .text-box {
            display: flex;
            flex-direction: column;
            width: 20rem;
        }
    }

    .title {
        margin-top: 1rem;
    }
}

@media screen and (max-width: $tablet) {
    .entrevistas {
        .container {
            flex-direction: column-reverse;
        }

        .entrevistas__container {
            width: 100%;
            height: auto;
        }

        .entrevistas--content {
            width: 100%;
            padding: 2rem;
        }

        .box-title {
            width: 100%;

            .image-box {
                flex-shrink: 0;
            }
        }
    }
}
