html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
}

.container {
    width: 84%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    color: $black;
    font-size: 1.2rem;
    font-weight: normal;
}

.cta {
    width: 14rem;
    padding: 2rem 0;
    transition: 0.5s;
    border: none;
    background-color: $red;
    color: $white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background-color: $redDark;
    }
}

.box-title {
    font-family: 'Lora';
    font-size: 3.5rem;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    letter-spacing: $kerning;
    text-transform: uppercase;
}

.lora-title {
    margin-bottom: 0.5rem;
    color: $black;
    font-family: 'Lora', serif;
    font-size: 1.8rem;
}

.lora-text {
    color: $greyDark;
    font-family: 'Lora';
    font-size: 1.4rem;
    line-height: 1.5;
}

.color-red {
    color: $red;
}

.color-grey {
    color: $grey;
}

.color-white {
    color: $white;
}

.color-black {
    color: $black;
}

.title {
    margin-bottom: 1rem;
    color: $black;
    font-size: 1.5rem;
}

.text-content,
p {
    color: $greyDark;
    font-family: 'Lora', serif;
    font-size: 1.4rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-small {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.screen-title {
    height: 10rem;
    background: $greyLight;

    .container {
        height: 100%;

        .title-content {
            @include display-flex(center, center);
            width: 100%;
            height: 100%;
        }

        h3 {
            font-size: 2.2rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
        }
    }
}

.select-option {
    width: 27.5rem;
    height: 5rem;
    margin-right: 2rem;
    padding: 1rem;
    border: 1px solid $greyLight100;
    background: transparent;
    color: $greyDark;
    font-family: 'Montserrat';
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    box-sizing: border-box;
}
