html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    width: 60%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    color: $black;
    font-size: 1.2rem;
    font-weight: normal;
}

pre {
    white-space: normal;
}

.cta {
    display: block;
    width: 14rem;
    padding: 2rem 0;
    transition: 0.5s;
    border: none;
    background-color: $red;
    color: $white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background-color: $redDark;
    }
}

.box-title {
    font-family: 'OpenSans';
    font-size: 2.8rem;
    font-weight: 800;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'OpenSans', sans-serif;
    font-size: 1rem;
    letter-spacing: $kerning;
    text-transform: uppercase;
}

.open-sans-title {
    margin-bottom: 0.5rem;
    color: $black;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
}

.open-sans-text {
    color: $greyDark;
    font-family: 'OpenSans';
    font-size: 1.4rem;
    line-height: 1.5;
}

.open-sans-title {
    font-family: 'OpenSans', sans-serif;
    font-size: 2.4rem;
    text-align: center;
}

.color-red {
    color: $red;
}

.color-grey {
    color: $grey;
}


.color-greyDark {
    color: $greyDark;
}

.color-white {
    color: $white;
}

.color-black {
    color: $black;
}

.title {
    margin-bottom: 1rem;
    color: $black;
    font-size: 1.5rem;
}

.text-content,
p {
    color: $greyDark;
    font-family: 'OpenSans', serif;
    font-size: 1.4rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-small {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.screen-title {
    height: 10rem;
    background: $greyLight;

    .container {
        height: 100%;

        .title-content {
            @include display-flex(center, center);
            width: 100%;
            height: 100%;
        }

        h3 {
            font-size: 2.2rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
        }
    }
}

.select-option {
    width: 27.5rem;
    height: 5rem;
    margin-right: 2rem;
    padding: 1rem;
    border: 1px solid $greyLight100;
    background: transparent;
    color: $greyDark;
    font-family: 'OpenSans';
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    max-width: 100%;
}

.breadcrumb {
    display: flex;
    align-items: center;
    height: 11rem;
    background: $white;
    text-transform: uppercase;

    .container {
        margin: 0 auto;
        margin-bottom: 0 !important;
        border-bottom: 0.1rem solid $greyBorder;
    }

    #crumbs {
        padding: 0 0 1rem;

        a {
            @extend .color-grey;
            font-size: 1rem;
        }
    }
}

.space {
    flex-grow: 1;
}

.no-border {
    border: none;
}

.new-container_subtitle {
    flex-direction: column;
    align-items: flex-start !important;
    height: auto !important;
    margin-bottom: 0 !important;

    a {
        align-self: flex-end;
        margin-top: 1rem;
    }
}

.new-subtitle_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: 1px solid $greyBorder;
}