.header {
    letter-spacing: $kerning;

    &_background {
        background: $greyLight;
    }

    &_top {
        @include display-flex($justify: space-between);
        height: 5.5rem;
        text-transform: uppercase;

        a {
            font-size: 1rem;
            font-weight: 700;
        }

        &-social {
            min-width: 5.3rem;

            li {
                margin-right: 1rem;
            }
        }

        &-menu {
            a {
                color: $black;
            }

            li {
                margin-right: 3rem;

                &:last-child {
                    a {
                        margin-right: 0;

                        &:last-child {
                            color: $red;
                        }
                    }
                }
            }
        }

        &-message {
            color: $grey;
            font-family: 'Lora';
            font-size: 1.1rem;
            text-transform: none;
        }

        &-login {
            @include display-flex($justify: flex-end);

            li {
                margin-right: 2.5rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &_content {
        @include display-flex($justify: space-between);
        height: 16rem;

        &-box {
            display: flex;

            &-brand {
                width: 100%;
                height: 100%;
            }

            &.box-1,
            &.box-3 {
                justify-content: flex-end;
            }

            &.box-2 {
                justify-content: center;

                li {
                    margin: 1.25rem;
                }

                a {
                    @include hover;
                    position: relative;
                    color: $grey;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $whiteTransparent;
    z-index: 1;

    &.active {
        display: block;
    }
}
