@media screen and (max-width: $tablet) {
    .header {
        &_top {
            &-menu {
                margin-bottom: 0.5rem;

                li {
                    &:nth-child(1),
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }

            &-login,
            &-social {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .header {
        &_top {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        &_content {
            position: relative;
            flex-direction: row-reverse;

            #menu-mobile {
                display: block;
                top: 0.5rem;
                right: 20px;
                width: 45px;
                height: 45px;
                transition: all 0.2s;
                border: none;
                background: $white;
                z-index: 2;

                span {
                    display: block;
                    position: relative;
                    width: 55%;
                    height: 4px;
                    margin: 3px auto;
                    transition: all 0.6s;
                    background: $black;
                }

                &.close-menu {
                    position: fixed;
                    background: transparent;

                    span {
                        position: relative;
                        background: $white;

                        &:first-of-type {
                            top: 4px;
                            transform: rotate(41deg);
                            -ms-transform: rotate(41deg);
                            -webkit-transform: rotate(41deg);
                        }

                        &:nth-of-type(2) {
                            display: none;
                        }

                        &:last-of-type {
                            top: -3px;
                            transform: rotate(-41deg);
                            -ms-transform: rotate(-41deg);
                            -webkit-transform: rotate(-41deg);
                        }
                    }
                }
            }

            .main-navigation {
                display: flex;
                position: fixed;
                top: 0;
                left: -100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 1vh 0;
                transition: all 0.3s;
                background: $greyDarker;
                z-index: 1;

                a {
                    color: $white;
                }

                &.active {
                    left: 0;
                }

                .login {
                    margin: 1.25rem;
                }
            }

            &-box {
                &.box-2 {
                    flex-direction: column;
                    align-items: center;
                }

                &.box-3 {
                    display: none;
                }
            }

            .social-menu-mobile {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 5.5rem;

                .container {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    border-bottom: 0.1rem solid $greyDark;
                }

                li {
                    margin-right: 3rem;
                }
            }
        }
    }
}


