.login {
    form {
        width: 50%;
        margin: auto;
        margin-bottom: 2rem;
        padding: 4rem 6rem;
        background: $greyLight;

        input {
            width: 100%;
            height: 6rem;
            margin-bottom: 2rem;
            border: 1px solid $greyBorder;
            background-color: $white;
            box-sizing: border-box;

            &[type='submit'] {
                width: 14rem;
                height: 6rem;
                margin: auto;
                background: $greyDarker;
                color: $white;
                font-family: OpenSans;
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            &[type='checkbox'] {
                width: auto;
                height: auto;
            }
        }

        #user_login {
            padding: 0 2rem 0 5rem;
            background-image: url('images/icon-email-black.png');
            background-repeat: no-repeat;
            background-position: 2rem center;
        }

        #user_pass {
            padding: 0 2rem 0 5rem;
            background-image: url('images/icon-lock.png');
            background-repeat: no-repeat;
            background-position: 2rem center;
        }

        label {
            color: $black;
            font-family: OpenSans;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .tml-submit-wrap {
            display: flex;
            justify-content: center;
        }
    }

    .tml-action-links,
    .message,
    .error {
        width: 100%;
        margin-bottom: 7rem;
        font-family: OpenSans;
        text-align: center;

        a {
            font-size: 1.4rem;
        }
    }
}

.tml-profile {
    width: 84%;
    margin: auto;

    form {
        width: 84%;
        margin: 5rem auto 7rem;

        input {
            width: 100%;
            height: 6rem;
            margin-bottom: 2rem;
            border: 1px solid $greyBorder;
            background-color: $white;
            box-sizing: border-box;

            &[type='submit'] {
                width: 14rem;
                height: 6rem;
                margin: auto;
                background: $greyDarker;
                color: $white;
                font-family: OpenSans;
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            &[type='checkbox'] {
                width: auto;
                height: auto;
            }
        }

        .tml-user-admin-bar-front-wrap {
            display: none;
        }
    }
}


.modal-login {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $blackTransparent;
    z-index: 5;

    &.hideLogin {
        display: none;
    }

    .woocommerce-message {
        display: none;
    }

    .modal-close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 1.3rem;
        height: 1.3rem;
        background: url('images/icon-close.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;
    }

    .modal-login-container {
        position: relative;
        width: 50%;
        max-width: 70rem;
        margin: 15% auto;
        padding: 4.2rem 10rem;
        border-top: 3px solid $red;
        background: $white;
        color: $white;
        box-sizing: border-box;

        h2 {
            margin-bottom: 1rem;
            color: $black;
            font-family: OpenSans;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.5rem;
            text-align: center;
        }

        h3 {
            margin-bottom: 2rem;
            font-family: OpenSans;
            font-size: 1.8rem;
            font-weight: bold;
        }

        p {
            font-family: OpenSans;
        }

        .subtitle {
            margin-bottom: 5rem;
            font-size: 1.1rem;
            text-align: center;
        }

        th {
            color: $black;
            font-size: 1.2rem;
            text-transform: uppercase;
        }

        td {
            color: $greyDark;
            font-family: OpenSans;
            font-size: 1.3rem;
        }
    }

    form {
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
        padding: 4rem 0;

        input {
            width: 100%;
            height: 6rem;
            margin-bottom: 2rem;
            border: 1px solid $greyBorder;
            background-color: $white;
            box-sizing: border-box;

            &[type='submit'] {
                width: 14rem;
                height: 6rem;
                margin: auto;
                background: $greyDarker;
                color: $white;
                font-family: OpenSans;
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            &[type='checkbox'] {
                width: auto;
                height: auto;
            }
        }

        #user_login1 {
            padding: 0 2rem 0 5rem;
            background-image: url('images/icon-email-black.png');
            background-repeat: no-repeat;
            background-position: 2rem center;
        }

        #user_pass1 {
            padding: 0 2rem 0 5rem;
            background-image: url('images/icon-lock.png');
            background-repeat: no-repeat;
            background-position: 2rem center;
        }

        label {
            color: $black;
            font-family: OpenSans;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .tml-submit-wrap {
            display: flex;
            justify-content: center;
        }
    }

    .tml-action-links,
    .message,
    .error {
        width: 100%;
        font-family: OpenSans;
        text-align: center;

        a {
            font-size: 1.4rem;
        }
    }
}

.tml {
    &.tml-lostpassword {
        width: 84%;
        margin: 0 auto;

        .message {
            margin: 5rem auto;
            text-align: center;
        }

        form {
            width: 50%;
            margin: auto;
            margin-bottom: 5rem;
            padding: 4rem 6rem;
            background: $greyLight;

            input {
                &[type='text'] {
                    width: 100%;
                    height: 6rem;
                    margin-bottom: 2rem;
                    padding: 0 2rem 0 5rem;
                    border: 1px solid $greyBorder;
                    background-color: $white;
                    background-image: url('images/icon-email-black.png');
                    background-repeat: no-repeat;
                    background-position: 2rem;
                    box-sizing: border-box;
                }

                &[type='submit'] {
                    width: 16rem;
                    height: 6rem;
                    margin: auto;
                    background: $greyDarker;
                    color: $white;
                    font-family: OpenSans;
                    font-size: 1.2rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            .tml-submit-wrap {
                display: flex;
            }

            label {
                color: $black;
                font-family: OpenSans;
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .tml-action-links {
            display: none;
        }
    }
}

@media screen and (max-width: $tablet) {
    .login {
        .container {
            width: 100%;
        }

        form {
            width: 100%;
            padding: 4rem 2rem;
            box-sizing: border-box;
        }
    }

    .tml {
        &.tml-lostpassword {
            width: 92%;

            form {
                width: 100%;
                padding: 4rem 2rem;
                box-sizing: border-box;
            }
        }
    }
}
