.single-entrevista {

    .capa_entrevista {
        position: relative;
        width: 100%;
        height: 41rem;
        background: linear-gradient($white, $greyDark);

        img {
            mix-blend-mode: multiply;
        }

        .capa_content {
            position: absolute;
            bottom: 3rem;
            left: 3rem;
            padding-left: 2rem;
            border-left: 3px solid $red;

            h4,
            p {
                width: 36rem;
                margin: 0.5rem;
                color: $white;
            }
        }
    }

    blockquote {
        position: relative;
        margin: 1rem 0 1rem 10rem;

        p {
            position: relative;
            margin: 8rem 0 0 6rem;
            color: $greyDarker;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 2.5rem;
        }

        &::before {
            display: block;
            position: absolute;
            top: -4.5rem;
            left: 0;
            width: 4.8rem;
            height: 3.6rem;
            background: url('images/quote.png');
            content: '';
        }

        .citacao-autor {
            display: block;
            position: relative;
            margin: 4rem 0 0 10rem;
            color: $black;
            font-family: Montserrat;
            font-size: 1.5rem;
            font-weight: 400;

            &::before {
                display: block;
                position: absolute;
                top: 1rem;
                left: -4rem;
                width: 2.9rem;
                height: 0.3rem;
                background: $red;
                content: '';
            }
        }

        .citacao-info-autor {
            display: block;
            position: relative;
            margin: 1rem 0 0 6rem;
            color:  $grey;
            font-family: Montserrat;
            font-size: 1.5rem;
            font-weight: 100;
        }
    }

    .entrevista-title {
        color:  $grey;
        font-family: Montserrat;
        font-size: 1.3rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .entrevista-item-title {
        margin: 2rem 18rem;
        color: $greyDarker;
        font-family: Montserrat;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }

    hr {
        width: 4.3rem;
        height: 0.4rem;
        margin: 2rem auto 6rem;
        border: none;
        background-color: $red;
    }

    .post__tags {
        margin: 6rem 0 0;

        h3 {
            margin: 0 0 2rem;
            color: $black;
            font-family: Lora;
            font-size: 1.8rem;
            font-weight: 700;
        }

        ul {
            li {
                margin-right: 1rem;
                font-family: Montserrat;
                text-transform: uppercase;
            }
        }
    }

    .politica-content {
        top: 0;

        h2 {
            margin: 0 auto 2rem;
            text-align: left;
        }

        p {
            margin: 1rem 0 3.5rem;
            font-size: 1.8rem;
        }

        .entrevistado {
            font-size: 1rem;
            text-transform: uppercase;
        }
    }

    .post__entrevistado {
        display: flex;
        align-items: center;
        padding: 2rem;
        background: $greyLight100;

        .image-box {
            flex-grow: 0;
            flex-shrink: 0;
            width: 14.4rem;
            height: 14.4rem;
            margin-right: 2rem;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h4 {
            color: $black;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.5rem;
        }

        p {
            color: $grey;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5rem;
        }
    }

    .entrevistas {
        margin: 6rem auto 4rem;

        .entrevistas__container {
            width: 100%;
            height: auto;
        }

        .entrevistas--content {
            width: calc((100% - 4rem) / 3);

            &:last-child {
                margin-right: 0;
            }
        }

        h4 {
            color: $black;
            font-family: Lora;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 2rem;
        }
    }
}

@media screen and (max-width: $tablet) {
    .single-entrevista {
        .container {
            .container {
                width: 100%;
            }
        }

        .capa_entrevista {
            left: -5%;
            width: 110%;

            .capa_content {
                left: 5%;
                width: 88%;
                padding-left: 2%;

                p {
                    width: 100%;
                }
            }
        }

        .politica-content {
            width: 100%;
        }

        .entrevista-item-title {
            margin: 2rem;
        }

        .post__entrevistado {
            flex-direction: column;
            text-align: center;

            .image-box {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }

        .post__tags {
            text-align: center;
        }

        .entrevistas {
            h4 {
                line-height: 3rem;
            }

            .entrevistas__container {
                flex-direction: column;
            }

            .entrevistas--content {
                width: 100%;
            }
        }
    }
}
