.materia {
    .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    .materia__container {
        width: 100%;
        margin-top: 5rem;
    }

    .post {
        &__footer {
            flex-wrap: wrap;
        }

        &__comments {
            width: 100%;
        }

        &__navigation {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &__item {
                width: 34.7rem;
            }
        }
    }

    .taxonomy__title,
    .post__author {
        color:  $grey;
        font-family: OpenSans;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .post__title {
        margin: 1rem 0;
        color:  $greyDarker;
        font-family: OpenSans;
        font-size: 2.4rem;
        font-weight: 700;
    }

    .post__call {
        color: $grey;
        font-family: OpenSans;
        font-size: 2rem;
        font-weight: 400;
    }

    hr {
        width: 4.3rem;
        height: 0.4rem;
        margin: 2rem 0 4rem;
        border: none;
        background-color: $red;
    }

    .merchandising_1 {
        margin: 4rem 0;

        a {
            text-decoration: none;
        }

        .subtitle {
            color: $white;
            font-size: 1rem;
        }
    }

    .post__content {
        font-family: OpenSans;

        .merchandising_1 {
            a {
                text-decoration: none;
            }
        }

        &::first-letter {
            color: $red;
            font-size: 5rem;
            font-weight: 400;
            line-height: 2.5rem;
        }

        p {
            margin: 2rem 0;
            color: $greyDark;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5rem;
        }

        h2 {
            margin: 4rem 0;
            color:  $black;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 4rem;
        }

        blockquote {
            position: relative;
            margin: 1rem 0 1rem 10rem;

            p {
                position: relative;
                margin: 8rem 0 0 6rem;
                color: $greyDarker;
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 2.5rem;
            }

            &::before {
                display: block;
                position: absolute;
                top: -4.5rem;
                left: 0;
                width: 4.8rem;
                height: 3.6rem;
                background: url('images/quote.png');
                content: '';
            }

            .citacao-autor {
                display: block;
                position: relative;
                margin: 4rem 0 0 10rem;
                color: $black;
                font-family: OpenSans;
                font-size: 1.5rem;
                font-weight: 400;

                &::before {
                    display: block;
                    position: absolute;
                    top: 1rem;
                    left: -4rem;
                    width: 2.9rem;
                    height: 0.3rem;
                    background: $red;
                    content: '';
                }
            }

            .citacao-info-autor {
                display: block;
                position: relative;
                margin: 1rem 0 0 6rem;
                color:  $grey;
                font-family: OpenSans;
                font-size: 1.5rem;
                font-weight: 100;
            }
        }

        ol {
            margin-left: 12rem;
            padding: 0;
            color:  $greyDark;
            font-family: OpenSans;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5rem;
            list-style: none;

            li {
                position: relative;
                margin: 2.5rem 0 2.5rem 4rem;
                counter-increment: li;

                &::before {
                    display: inline-block;
                    position: absolute;
                    left: -3rem;
                    width: 1em;
                    margin: 0 3rem 0 0;
                    margin-left: -1em;
                    color: $black;
                    font-size: 1.6rem;
                    font-weight: bold;
                    content: counter(li) '.';
                }
            }
        }

        ul {
            margin-left: 4rem;
            padding: 0;
            color:  $greyDark;
            font-family: OpenSans;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5rem;
            list-style: disc;

            li {
                display: list-item;
            }
        }

        strong {
            color: $black;
        }

        a {
            color: $black;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5rem;
            text-decoration: underline;
        }

        .red-block {
            padding: 2rem 4rem;
            background: $red;

            h2,
            p {
                color: $white;
            }
        }
    }

    .post__referencias {
        margin: 6rem 0;
        padding: 3rem 4rem;
        background: $greyLight100;

        h3 {
            margin: 1rem 0 3rem;
            color: $black;
            font-size: 1.8rem;
            font-weight: 700;
        }

        p {
            color:  $grey;
            font-size: 1.6rem;
            font-weight: 400;
            word-break: break-all;
        }

        a {
            color: $black;
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.5rem;
            text-decoration: underline;
        }
    }

    .post__tags {
        margin: 6rem 0 0;

        h3 {
            margin: 0 0 2rem;
            color: $black;
            font-family: OpenSans;
            font-size: 1.8rem;
            font-weight: 700;
        }

        ul {
            li {
                margin-right: 1rem;
                font-family: OpenSans;
                text-transform: uppercase;
            }
        }
    }
}


@media screen and (max-width: $tablet) {
    .materia {
        .container {
            flex-direction: column;
        }

        .materia__container {
            width: 100%;
        }

        .taxonomy__title,
        .post__title,
        .post__author,
        .post__call {
            text-align: center;
        }

        hr {
            margin: 2rem auto 4rem;
        }

        .merchandising_1 {
            position: relative;
            left: -5%;
            width: 110%;
        }

        .addtoany_list {
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                &::after {
                    margin-left: 0;
                }
            }
        }

        .post__content {
            blockquote {
                margin: 1rem 0;

                p {
                    margin: 8rem 0 0;
                }

                .citacao-autor {
                    margin: 4rem 0 0 4rem;
                }

                .citacao-info-autor {
                    margin: 1rem 0 0 4rem;
                }
            }

            ol {
                margin-left: 0;

                li {
                    &::before {
                        left: -1rem;
                    }
                }
            }

            .red-block {
                position: relative;
                left: -5%;
                width: 110%;
                box-sizing: border-box;
            }
         }

        .post__tags {
            text-align: center;
        }

        .post__navigation {
            display: none;
        }
    }

    .sidebar {
        .merchandising_1 {
            left: 0;
        }
    }
}
