.slider {
    height: 37.4rem;
    background: $grey;

    .metaslider {
        .slides {
            img {
                height: 37.4rem;
                object-fit: cover;
            }
        }
    }

    .caption {
        width: 50%;
        margin: 5% 10%;

        span {
            font-size: 1rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }

        h2 {
            margin: 2rem 0;
            color: $white;
            font-size: 3rem;
            line-height: 4rem;
        }

        .saiba-mais {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 14rem;
            height: 6rem;
            background: $red;
            text-transform: uppercase;

            a {
                color: $white;
            }
        }
    }

    .flex-direction-nav {
        .flex-prev {
            margin-left: 5%;
        }

        .flex-next {
            margin-right: 5%;
        }
    }
}

// OWL CAROUSEL ===================================================

.owl-theme {
    .owl-nav [class*='owl-'] {
        background: none;

        &:hover {
            background: none;
        }
    }
}

.owl-carousel {
    &.edition {
        position: relative;

        .owl-dots {
            display: none;
        }

        .owl-nav {
            position: absolute;
            top: calc(50% - 43px);
            width: 100%;

            .owl-prev,
            .owl-next {
                position: absolute;
            }

            .owl-prev {
                left: -6rem;
            }

            .owl-next {
                right: -6rem;
            }
        }
    }
}
