.sucesso {
    margin-bottom: 7rem;

    h2 {
        color:  $black;
        font-family: Montserrat;
        font-size: 4rem;
        font-weight: 700;
    }

    h3 {
        margin-bottom: 4rem;
        color: $black;
        font-family: Montserrat;
        font-size: 3rem;
        font-weight: 700;
    }
}
