// RESOLUTION ======================================================================

$tablet: 1220px;

$mobile: 768px;

// COLORS =====================================================================

$black: #000000;

$greyDarker: #333333;

$greyDark: #525552;

$grey: #999999;

$greyLight100: #ebebeb;

$greyLight: #f7f7f7;

$white: #FFFFFF;

$red: #FA3F35;

$redDark: #d23128;

$whiteTransparent: rgba(255,255,255,0.7);

// FONT =======================================================================

$kerning: 0.08rem;
